body {
    font-family: 'Open Sans', 'Tahoma', sans-serif;
    background-color: #fff;
    color: #fff;
}
/* font-family: 'Raleway', sans-serif; */
:root {
    --brand-color: #FF6C00;
    --blue-text-color: #9DA4BD;
    --dark-text-color: #303030;
    --paragraf-color: #555555;
    --bg-color: #F7F7F7;
}
.button {
    border: 1px solid #FF6C00;
    border-radius: 25px;
    background-color: transparent;
    cursor: pointer;
    height: 35px;
    width: 170px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #000;
}
/* header */
.header-list .header-item {
    list-style: none;
}
.header-list .header-list-link {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.1em;
}
.header-list .header-list-link:hover {
    color: var(--brand-color);
}
.header .header-phone {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
}
/* hero */
.hero {
    background: url(../img/Sliderimg3.jpg);
    height: 680px;
}
.hero .hero-over-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.6);
}
.hero .hero-title {
    font-family: 'Raleway';
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
}
.hero .hero-descr {
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--blue-text-color);
}
.hero .hero-item-link {
    text-decoration: none;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--dark-text-color);
}
.hero .hero-item {
    list-style: none;
}
.hero .hero-item-link:hover {
    color: var(--brand-color);
}
/* about */
.about .about-over-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--dark-text-color);
}
.about .about-title {
    font-family: 'Raleway';
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--dark-text-color);
}
.about .about-first-descr {
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--paragraf-color);
}
.about .about-second-descr {
    font-size: 14px;
    line-height: 1.85;
    letter-spacing: 0.02em;
    color: var(--paragraf-color);
}
/* price */
.price {
    background: url(../img/Group6.jpg);
}
.price .price-over-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.6);
}
.price .price-title {
    font-family: 'Raleway';
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
}
.price .price-service {
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--blue-text-color);
}
.price .price-sum {
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--blue-text-color);
    text-align: right;
}
.price .price-item {
    list-style: none;
}
/* benefits */
.benefits .benefits-item {
    list-style: none;
}
.benefits .benefits-span {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--dark-text-color);
}
.benefits .benefits-over-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--dark-text-color);
}
.benefits .benefits-descr {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
    color: var(--dark-text-color);
}
.benefits .benefits-title {
    font-family: 'Raleway';
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--dark-text-color);
} 
.benefits .benefits-text {
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--paragraf-color);
}
/* masters */
.masters {
    background-color: var(--bg-color);
}
.masters .masters-over-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--dark-text-color);
}
.masters .masters-title {
    font-family: 'Raleway';
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: var(--dark-text-color);
}
.masters .masters-name {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.39;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--dark-text-color);
}
.masters .masters-profession {
    font-size: 14px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--brand-color);
}
/* gallery */
.gallery .gallery-title {
    visibility: hidden;
}
.gallery .gallery-descr {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--dark-text-color);
}
/* contacts */
.contacts {
    background: url(../img/contacts-bg.jpg);
}
.contacts .contacts-item {
    list-style: none;
}
.contacts .contacts-title {
    font-family: 'Raleway';
    font-size: 42px;
    line-height: 1.36;
    letter-spacing: 0.05em;
}
.contacts .contacts-link {
    position: relative;
    font-size: 18px;
    line-height: 1.7;
    font-style: normal;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--blue-text-color);
}
.first-icon::before {
    content: url('../img/location.png');
    position: absolute;
    left: -35px;
    top: 5px;
}
.second-icon::before {
    content: url('../img/Shape.png');
    position: absolute;
    left: -35px;
    top: 3px;
}
.third-icon::before {
    content: url('../img/mail.png');
    position: absolute;
    left: -35px;
}
.contacts .contacts-work {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.contacts .contacts-time {
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--blue-text-color);
}
.contacts .contacts-work::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 60px;
    height: 2px;
    background-color: rgba(157, 164, 189, 0.4);
}
.footer .footer-copyright {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--blue-text-color);
}
.footer .footer-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--dark-text-color);
    text-decoration: none;
}
.footer .footer-item {
    list-style: none;
}