body {
  font-family: "Open Sans", "Tahoma", sans-serif;
  background-color: #fff;
  color: #fff;
}
/* font-family: 'Raleway', sans-serif; */
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* -----------normalize------------ */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  padding-left: 0;
  margin: 0;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
/* --------------------------------------- */

/* ---------------repeat styles------------------ */
:root {
  --brand-color: #ff6c00;
  --blue-text-color: #9da4bd;
  --dark-text-color: #303030;
  --paragraf-color: #555555;
  --bg-color: #f7f7f7;
  --typical-margin: 20px;
}
.button {
  font-family: "Open Sans", "Tahoma", sans-serif;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  cursor: pointer;
  height: 35px;
  min-width: 150px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #fff;
}
.button:hover {
  background-color: var(--brand-color);
  color: #fff;
}
.list {
  list-style: none;
}
.over-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.title {
  font-family: "Raleway";
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}
.repeat-styles {
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.02em;
}
.flex {
  display: flex;
  align-items: center;
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ---------header------------ */
.header {
  position: absolute;
  top: 0;
  width: 100%;

  padding-top: 32px;
  padding-bottom: 32px;
}
.header-logo {
  margin-right: 70px;
}
.header-connect {
  margin-left: auto;
}
.header-list .header-list-link {
  font-family: "Open Sans", "Tahoma", sans-serif;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.1em;
}
.header-item:not(:last-child) {
  margin-right: 40px;
}
.header-list .header-list-link:hover,
.header-list .header-list-link:focus {
  color: var(--brand-color);
}
.header .header-phone {
  margin-right: 40px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}
.header-phone:hover {
  color: var(--brand-color);
}
/* -----------------hero------------------- */
.hero-content {
  background: url(../img/Sliderimg3.jpg) no-repeat;
  padding: 272px 0 206px 96px;
  background-size: contain;
}
.hero .hero-over-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--typical-margin);
  display: flex;
  align-items: center;
}
.hero-over-title::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
  margin-right: 20px;
}
.hero .hero-title {
  font-family: "Raleway";
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  margin-bottom: var(--typical-margin);
}
.hero-list {
  display: flex;
  align-items: flex-start;
  align-self: flex-end;
  padding-top: 20px;
  padding-left: 40px;
  width: 105px;
  white-space: nowrap;
  transform: translate(0, 100%) rotate(-90deg);
  transform-origin: 0 0;
  vertical-align: bottom;
  /* transform: rotate(-90deg); */
}
.hero-content {
  flex-grow: 1;
}

.hero .hero-descr {
  color: var(--blue-text-color);
  max-width: 400px;
}
.hero .hero-item-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--dark-text-color);
}
.hero-item:not(:last-child) {
  margin-right: 40px;
}
.hero .hero-item-link:hover {
  color: var(--brand-color);
}
/*---------------- about--------------------- */
.about {
  padding-top: 139px;
  padding-bottom: 121px;
}
.about-content {
  padding-left: 64px;
}

.about .about-over-title {
  color: var(--dark-text-color);
  margin-bottom: var(--typical-margin);
  display: flex;
  align-items: center;
}
.about-over-title::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
  margin-right: 20px;
}
.about-item + .about-item {
  margin-left: 30px;
}

.about .about-title {
  color: var(--dark-text-color);
  margin-bottom: var(--typical-margin);
}
.about .about-first-descr {
  color: var(--paragraf-color);
  margin-bottom: var(--typical-margin);
}
.about .about-second-descr {
  font-size: 14px;
  line-height: 1.85;
  letter-spacing: 0.02em;
  color: var(--paragraf-color);
  margin-bottom: 40px;
}
.about-button {
  color: var(--dark-text-color);
}
/* --------------------price--------------- */
.price {
  background: url(../img/Group6.jpg) no-repeat;
  background-size: 100% auto;
  padding-top: 130px;
  padding-bottom: 130px;
}
.prices-lists {
  display: flex;
  margin-bottom: 50px;
  color: rgba(157, 164, 189, 100%);
}
.price-list-first,
.price-list-second {
  padding: 30px 40px;
  flex-grow: 1;
  background: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.877465) 15.32%,
    rgba(9, 11, 19, 0.750469) 32.46%,
    rgba(9, 11, 19, 0.608233) 48.97%,
    rgba(9, 11, 19, 0.481236) 64.85%,
    rgba(9, 11, 19, 0.318681) 83.26%,
    rgba(9, 11, 19, 0.2) 100%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.price-span {
  flex-grow: 1;
  align-self: flex-end;
  margin-left: 10px;
  margin-right: 10px;
  height: 1px;
  background: rgba(157, 164, 189, 0.12);
}
.price-item {
  margin-bottom: var(--typical-margin);
  display: flex;
  justify-content: space-between;
}
.price-item:last-child {
  margin-bottom: 0;
}
.price-title {
  margin-bottom: 44px;
}
.price .price-over-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--typical-margin);
  display: flex;
  align-items: center;
}
.price .price-over-title::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
  margin-right: 20px;
}
/* .price .price-service {
  color: var(--blue-text-color);
}
.price .price-sum {
  color: var(--blue-text-color);
} */
.price-button {
  display: block;
  margin: 0 auto;
}
/*---------------- benefits---------------- */
.benefits {
  padding-top: 114px;
  padding-bottom: 137px;
}
.benefits-wrapper {
  display: flex;
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.benefits .benefits-span {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--dark-text-color);
  margin-bottom: 6px;
  display: block;
}
.benefits-cross {
  display: block;
  position: absolute;
  width: 10px;
  height: 2px;
  background: red;
}
.benefits-cross-second {
  transform: rotate(90deg);
}
.benefits-cross-short {
  top: 35px;
  right: 47px;
}
.benefits-cross-long {
  top: 35px;
  right: 35px;
}

.benefits .benefits-over-title {
  color: var(--dark-text-color);
  margin-bottom: var(--typical-margin);
  display: flex;
  align-items: center;
}
.benefits-over-title::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--dark-text-color);
  margin-right: 20px;
}
.benefits .benefits-descr {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--dark-text-color);
}
.benefits .benefits-title {
  color: var(--dark-text-color);
  margin-bottom: var(--typical-margin);
}
.benefits .benefits-text {
  color: var(--paragraf-color);
}
.benefits-item {
  width: 170px;
  height: 130px;
  background-color: var(--bg-color);
  padding: 20px 20px;
  position: relative;
}

/*---------------- masters------------------- */
.masters {
  background-color: var(--bg-color);
  padding-top: 130px;
  padding-bottom: 130px;
}
.masters-list {
  display: flex;
  margin-left: -30px;
}
.masters-item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
}
.masters .masters-over-title {
  color: var(--dark-text-color);
  margin-bottom: var(--typical-margin);
  display: flex;
  align-items: center;
}
.masters-over-title::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--dark-text-color);
  margin-right: 20px;
}
.masters .masters-title {
  color: var(--dark-text-color);
  margin-bottom: 44px;
}
.masters-img {
  margin-bottom: 30px;
}
.masters .masters-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-text-color);
  margin-bottom: 8px;
}
.masters .masters-profession {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}
.social-list {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icon {
  width: 20px;
  height: 20px;
}
.social-item:not(:last-child) {
  margin-right: 10px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  fill: black;
}
.social-link:hover {
  background-color: var(--brand-color);
  fill: #fff;
}
/*------------------- gallery--------------- */
.gallery {
  padding-top: 130px;
  padding-bottom: 130px;
}
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}
.gallery-item {
  width: calc(100% / 4 - 30px);
  margin-left: 30px;
}
.gallery .gallery-title {
  visibility: hidden;
}
.gallery .gallery-descr {
  color: var(--dark-text-color);
  margin-bottom: 44px;
  display: flex;
  align-items: center;
}
.gallery-descr::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--dark-text-color);
  margin-right: 20px;
}
/*----------------- contacts------------------- */
.channels {
  background-image: url(../img/bg-foot.jpg);
  max-width: 1280px;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 130px 255px 120px 57px;
}
.online {
  flex-grow: 1;
}
.contacts {
  flex-grow: 1;
  padding-left: 140px;
}
.contacts-title {
  margin-bottom: 40px;
}
.contacts-list {
  margin-bottom: 70px;
}
.contacts .contacts-link {
  font-style: normal;
  text-decoration: none;
  color: var(--blue-text-color);
  display: flex;
  align-items: center;
}

.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}
.first-icon::before {
  content: url("../img/location.png");
  margin-right: 20px;
}
.second-icon::before {
  content: url("../img/Shape.png");
  margin-right: 20px;
}
.third-icon::before {
  content: url("../img/mail.png");
  margin-right: 20px;
}
.contacts .contacts-time {
  color: var(--blue-text-color);
}
.contacts-work {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.contacts .contacts-work::before {
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(157, 164, 189, 0.4);
  margin-right: 20px;
}
/* -------------footer------------------ */
.footer {
  width: 100%;
  height: 127px;
  background-color: #f7f7f7;
}
.footer-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.footer .footer-copyright {
  color: var(--blue-text-color);
}
.footer-line {
  width: 60px;
  height: 1px;
  background-color: var(--dark-text-color);
}
.footer .footer-link {
  color: var(--dark-text-color);
  text-decoration: none;
}
.footer-link:hover {
  color: var(--brand-color);
}
.footer-copyright,
.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}
.footer-item:not(:last-child) {
  margin-right: 20px;
}
